---
import { useTranslation, type Locale, useTranslatedPath } from "@/i18n";
import Layout from "@/layouts/Layout.astro";

import { Image } from "astro:assets";
import LabelSection from "@/sections/cases/LabelSection.astro";

import hero from "@/assets/case_3d_rendering_hero.png";
import laptop from "@/assets/multi_living_laptop.png";
import avatar from "@/assets/photo_3.png";

import migatronic_sm from "@/assets/case_migatronic_sm.png";
import lindab_garage from "@/assets/lindab_garage.png";
import car_audi from "@/assets/car_audi.png";

import ReviewCard from "@/sections/ReviewCard.astro";
import LetsBuildTogether from "@/sections/LetsBuildTogether.astro";
import OtherCases, { type Case } from "@/sections/cases/OtherCases.astro";
import Trans from "@/i18n/Trans.astro";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const r = useTranslatedPath(locale);

const {
  common,
  pages: {
    multiliving_3d_renderings: t,
    lindab_garage: { heading_text: lindab_text },
    migatronic_configurator: { heading_text: migatronic_text },
    audi_configurator: { heading_text: audi_text },
  },
} = await useTranslation(locale);

const otherCases: Case[] = [
  {
    photo: migatronic_sm,
    link: {
      title: migatronic_text,
      href: r("cases.migatronic-configurator"),
    },
  },
  {
    photo: lindab_garage,
    link: {
      title: lindab_text,
      href: r("cases.lindab-garage-door-configurator"),
    },
  },
  {
    photo: car_audi,
    link: {
      title: audi_text,
      href: r("cases.audi-configurator"),
    },
  },
];
---

<Layout title={t.title} theme="gray">
  <section class="py-[4.25rem]">
    <div class="container">
      <h1 class="heading-1 text-center text-neutral-20">
        <Trans translation={t.heading}>
          3D Renderings <br />
          <span class="brand-gradient bg-clip-text text-transparent"
            >for Multi-Living</span
          >
        </Trans>
      </h1>
    </div>
  </section>

  <div>
    <Image class="w-full" src={hero} alt={t.title} />
    <!-- 2xl:w-auto 2xl:mx-auto max-h-[755px] -->
  </div>

  <LabelSection
    label={t.visual_appeal.label}
    withLink={{ title: common.see_solution, href: "#" }}
  >
    <span slot="title">{t.visual_appeal.heading}</span>
    <p slot="col-1">
      {t.visual_appeal.text_1}
    </p>
    <p slot="col-2">
      {t.visual_appeal.text_2}
    </p>
  </LabelSection>

  <LabelSection label={t.beautiful_visualization.label} singleCol>
    <span slot="title">{t.beautiful_visualization.heading}</span>
    <p slot="col-1">
      <Trans translation={t.beautiful_visualization.text_1} />
    </p>
  </LabelSection>

  <section class="py-[4.25rem]">
    <div class="container">
      <Image class="w-full" src={laptop} alt={t.title} />
    </div>
  </section>

  <ReviewCard class="max-w-[800px] px-6" avatar={avatar}>
    <p class="inline text-2xl font-normal tracking-[.48px]">
      {t.review.message}
    </p>
    <p slot="author">{t.review.author.occupation}</p>
    <p slot="author">{t.review.author.name}</p>
  </ReviewCard>

  <OtherCases cases={otherCases} />

  <LetsBuildTogether theme="gray" />
</Layout>
