---
import LinksList from "@/components/lists/LinksList.astro";

import { contact, location, socials } from "@/constants";
import Facebook from "./icons/Facebook.astro";
import Linkedin from "./icons/Linkedin.astro";
import Logo from "./icons/Logo.astro";
import { getLangFromUrl, useTranslation } from "@/i18n";

import Trans from "@/i18n/Trans.astro";
import Link from "@/i18n/Link.astro";

const lang = getLangFromUrl(Astro.url);
const { navbar: t, common, footer } = await useTranslation(lang);

type Link = { title: string; url: string };

const casesLink: Link = {
  title: "Cases",
  url: "/cases",
};

const productFeatures: Link[] = [
  {
    title: t.products_links.core_features.product_modelling,
    url: "/product-modelling",
  },
  {
    title: t.products_links.core_features.visualizations,
    url: "/visualizations",
  },
  {
    title: t.products_links.core_features.pricing_engine,
    url: "/pricing-engine",
  },
  {
    title: t.products_links.core_features.configuration_engine,
    url: "/configuration-engine",
  },
];
const addOns: Link[] = [
  {
    title: t.products_links.add_ons.quote_and_document,
    url: "/quote-and-document-generation",
  },
  {
    title: t.products_links.add_ons.integrations,
    url: "/integrations",
  },
  {
    title: t.products_links.add_ons.analytics,
    url: "/analytics",
  },
];
const info: Link[] = [
  {
    title: t.about_links.about,
    url: "/about",
  },
  {
    title: t.about_links.career,
    url: "/career",
  },
  {
    title: t.about_links.contact,
    url: "/request-a-demo",
  },
  {
    title: t.about_links.articles,
    url: "/articles",
  },
];

const contactInformation = [
  contact.official_name,
  location.address.line_1,
  location.address.line_2,
  location.country,
  `T: ${contact.phone}`,
  `${common.email}: ${contact.email}`,
];
const contactInformationMinimal = [
  location.address.line_2,
  `T: ${contact.phone}`,
  `${common.email}: ${contact.email}`,
];

const policyLinks: Link[] = [
  {
    title: footer.links.cookies,
    url: "#",
  },
];

const legalLinks: Link[] = [
  {
    title: footer.links.cookies,
    url: "#",
  },
];

interface Props {
  theme?: "blue" | "gray";
}

const { theme = "blue" } = Astro.props;
---

<footer
  class={` mt-auto py-12 md:py-16  ${
    theme === "blue" ? "bg-primary-3" : "bg-primary-1"
  }`}
>
  <div class="container">
    <div class="md:flex md:gap-10 md:justify-between">
      <div class="sm:hidden md:block">
        <Link href="/">
          <Logo />
        </Link>
      </div>

      <div class="font-poppins flex flex-col gap-4 sm:hidden my-8">
        <p class="text-primary-5 capitalize font-semibold text-base">
          {footer.contact_us}
        </p>
        {
          contactInformationMinimal.map((info) => (
            <p class="text-sm capitalize text-neutral-30">{info}</p>
          ))
        }
      </div>

      <div class="flex items-end justify-between sm:hidden">
        <LinksList title="Legal" links={legalLinks} />

        <dir class="flex gap-6 p-0 m-0">
          <a href={socials.facebook}>
            <Facebook class="h-10 w-10 text-white" />
          </a>
          <a href={socials.linkedin}>
            <Linkedin class="h-10 w-10 text-white" />
          </a>
        </dir>
      </div>

      <nav
        aria-label="Footer Navigation"
        class="sm:grid grid-cols-2 sm:grid-cols-3 lg:flex gap-14 sm:gap-10 xl:gap-[75px] hidden"
      >
        <div class="md:hidden">
          <a href="/">
            <Logo />
          </a>
        </div>

        <LinksList title="Product Features" links={productFeatures} />

        <LinksList title="Add-Ons" links={addOns} />

        <div class="font-poppins">
          <p class="text-primary-5 capitalize font-semibold text-base">Cases</p>
          <p class="mt-4 text-sm capitalize text-neutral-30">
            <Trans translation={footer.cases.read_our_latest_cases}>
              Read our latest <br /> casesdsds <Link
                href={casesLink.url}
                class="underline lowercase"
              >
                here
              </Link>
            </Trans>
          </p>
        </div>

        <LinksList title="Information" links={info} />

        <div class="font-poppins flex flex-col gap-4">
          <p class="text-primary-5 capitalize font-semibold text-base">
            {footer.contact_us}
          </p>
          {
            contactInformation.map((info) => (
              <p class="text-sm text-neutral-30">{info}</p>
            ))
          }
        </div>
      </nav>
    </div>
  </div>

  <hr class="bg-neutral-30/60 border-0 h-px mt-14 mb-9 hidden sm:block" />
  <div class="container hidden sm:flex justify-between">
    <div class="flex items-center gap-5 xl:gap-[2.75rem]">
      <p class="text-primary-5 text-sm font-medium">
        &copy; {new Date().getFullYear()}
        {contact.official_name}. All rights reserved
      </p>
      <Link href="#" class="text-sm font-medium text-neutral-30 lg:hidden">
        {footer.links.cookies}
      </Link>

      {
        policyLinks.map((link) => (
          <Link
            href={link.url}
            class="text-sm font-medium text-neutral-30 hidden lg:block"
          >
            {link.title}
          </Link>
        ))
      }
    </div>

    <dir class="flex items-center gap-6">
      <a href={socials.facebook}>
        <Facebook class="h-10 w-10 text-white" />
      </a>
      <a href={socials.linkedin}>
        <Linkedin class="h-10 w-10 text-white" />
      </a>
    </dir>
  </div>
</footer>
