---
import LaunchRocket from "@/components/icons/LaunchRocket.astro";

import down_triangle from "@/assets/down_triangle.png";
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslation } from "@/i18n";
import Trans from "@/i18n/Trans.astro";

const lang = getLangFromUrl(Astro.url);

const {
  pages: {
    quote_and_document_generation: { overcome_quoting_challenges: t },
  },
} = await useTranslation(lang);
---

<section class="py-[4.25rem]" aria-label={t.label}>
  <div
    class="container grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-20 relative"
  >
    <Image
      class="absolute hidden lg:block -bottom-72"
      src={down_triangle}
      alt=""
    />
    <div>
      <h2 class="heading-2 mb-8 text-neutral-10">
        <Trans translation={t.heading}>
          Overcome
          <span class="brand-gradient bg-clip-text text-transparent"
            >Quoting <br class="hidden lg:block" /> Challenges</span
          > with <br class="hidden lg:block" /> Mercura
        </Trans>
      </h2>
      <div class="p-8 bg-neutral-40/[.09] rounded-2xl w-max">
        <LaunchRocket class="h-20 w-20" />
      </div>
    </div>

    <div>
      <p class="text-2xl text-neutral-10 leading-tight tracking-[.48px]">
        {t.text_1}
      </p>
      <p
        class="mt-16 text-xl font-light leading-tight tracking-[.4px] text-neutral-30"
      >
        <Trans translation={t.text_2} />
      </p>
    </div>
  </div>
</section>
